@import '../font/font-awesome.css';
/* CSS for jquery.fancyform.js */
/*custom mixins */
/*end custom mixins */
/* Control Holder */

.mr0 {
  margin-right: 0;
}
#bookingForm input,
#bookingForm textarea {
  outline: none;
  overflow: hidden;
}

.tmInput input, .tmTextarea textarea {
  width: 100%;
  margin-bottom: 5px;
  height: 35px;
  float:left;
  background: #f7f6f3;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
  color: #524d46;
  font: 10px/20px 'Roboto', sans-serif;
  border: none;
  text-transform: uppercase;
  padding: 7px 12px 8px;
  border-radius: 0;
}
.tmTextarea textarea {
  min-height: 143px;
  resize: none;
}

.form2_inp input, .form2_inp textarea{
  position: relative;
   width: 100%;
   max-width: 340px;
  margin-bottom: 5px;
  height: 41px;
  background: #fff;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box; /* Safari */
  color: #afa79c;
  font:500 13px/19px 'Roboto', sans-serif;
  border: none;
  text-transform: none;
  padding: 10px 12px 10px;
  border: 1px solid #e4e2de;
}
label.form2_inp{max-width: 340px;}
.form2_inp{
  min-height: 51px;
}

.tmSelect {
  margin-bottom: 0px !important;
}

#bookingForm {
  position: relative;
  display: block;
}

#bookingForm a.btn {
  display: block;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 13px;
  margin-top: 15px;
}

.controlHolder {
  position: relative;
  margin-bottom: 5px;
  max-width: 340px;
}
/* Messages */
.error-message {
  position: absolute;
  top: 1px;
  /* background-color: #fff; */
  right: 5px;
  display: block;
  font-weight: normal;
  text-align: right;
  font-size: 9px;
  line-height: 9px;
  color: gray;
  z-index: 4;
  color: #fe5353;
}
.success-message {
  position: absolute !important;
  text-align: left;
  color: gray;
  margin: 0px 0px;
  color: #282828;
  font-size: 11px;
  line-height: 16px;
  bottom: 51px;
  left: 0;
  background: #B4ADA3;
  /*width: auto;
  margin: 0 -5px;*/
  padding: 5px 1px;
}
/* transformSelect CSS */
/* 1st type of select */
.tmSelect,
.tmSelect2 {
  clear: both;
  width: 100%;
  margin: 0px;
}
.tmSelect li,
.tmSelect2 li {
  position: relative;
  list-style: none;

}
.tmSelect span,
.tmSelect2 span,
.tmSelect input[type=text],
.tmSelect2 input[type=text] {
  position: relative;
  cursor: pointer;
  display: block;
  left: 0;
  top: 0;
  margin: 0;
}
.tmSelect,
.tmSelect2 {
  cursor: pointer;
  padding: 0;
  background-color: #f7f6f3;
  color: #524d46;
  font: 10px/12px 'Roboto', sans-serif;
  width: 100%;
  height: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tmSelect.auto span,
.tmSelect2.auto span {
  background: transparent;
}
.tmSelect.auto ul,
.tmSelect2.auto ul {
  margin: 0px 0 0;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.tmSelect.auto > li:first-child > span,
.tmSelect2.auto > li:first-child > span {
  padding: 11px 12px 12px;
  color: #737272;
  width: 100%;
  z-index: 10;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tmSelect ul,
.tmSelect2 ul,
.tmSelect .transformSelectDropdown,
.tmSelect2 .transformSelectDropdown {
  position: absolute;
  width: 100%;
  max-height: 210px;
  padding: 0px 0px;
  top: 35px;
  margin: 0px;
  right: 0;
  color: #524d46;
  min-height: 65px;
  background: #f7f6f3;
  font: 10px/18px Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  z-index: 999;
}
.tmSelect ul:focus,
.tmSelect2 ul:focus,
.tmSelect .transformSelectDropdown:focus,
.tmSelect2 .transformSelectDropdown:focus {
  background: #fff;
}
.tmSelect ul span,
.tmSelect2 ul span,
.tmSelect .transformSelectDropdown span,
.tmSelect2 .transformSelectDropdown span {
  border: 0;
  color: #000;
  padding: 4px 9px;
  text-transform: uppercase;
  line-height: 17px;
}
.tmSelect ul span:hover,
.tmSelect2 ul span:hover,
.tmSelect .transformSelectDropdown span:hover,
.tmSelect2 .transformSelectDropdown span:hover {
  background: #dcd9d4;
}
.tmSelect ul li input[type=checkbox],
.tmSelect2 ul li input[type=checkbox] {
  position: relative;
  top: 2px;
  margin: 0 5px 0 0;
  cursor: pointer;
}
/* 2nd type of select */
.tmSelect2:after {
  content: 'ïƒ';
  font-family: 'FontAwesome';
  width: 27px;
  height: 27px;
  text-align: center;
  color: #a4a19c;
  font-size: 15px;
  display: block !important;
  line-height: 18px;
  position: absolute;
  right: 4px;
  top: 4px;
  /*background: #686868 !important;*/
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


#bookingForm em {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font:bold 13px/20px 'Roboto', Arial, sans-serif;
  margin-bottom: 4px;
  margin-top: 0px;
}










/* Datepicker */
.tmDatepicker {
  position: relative;
  margin-bottom: 20px;
}

#bookingForm>strong {
  display: block;
  font-weight: normal;
  float: left;
  padding-top: 7px;
}


#bookingForm>strong+.controlHolder {
  width: 336px;
  float: right;
  padding-top: 1px;
}

.tmDatepicker {
  display: block;
  margin-bottom: 0;
}

.tmDatepicker:after {
  content: '\f073';
  position: absolute;
  top: 10px;
  right: 14px;
  font: normal normal 20px/20px 'FontAwesome';
  color: #282523;
  z-index: 4;
  cursor: text;
}
.ui-datepicker {
  padding: 10px;
  width: 300px;
  font-size: 13px;
  display: none;
  z-index: 100 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px #ccc solid;
  color: #737272;
  background: #F0F3F5;
}
.ui-datepicker:focus {
  background: #fff;
}
.ui-datepicker a {
  color: #777;
}
.ui-datepicker a:hover {
  color: #000;
  text-decoration: none;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  cursor: pointer;
  float: left;
}
.ui-datepicker-next {
  float: right;
}
.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-calendar {
  margin: 10px 11px;
}
.ui-datepicker-calendar td {
  padding: 1px 10px;
  text-align: center;
}
.ui-datepicker-calendar .ui-datepicker-current-day,
.ui-datepicker-calendar .ui-datepicker-today {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 15px;
  border: 1px #ccc solid;
  background: #f5f5f5;
  color: #000;
  font-weight: normal;
  padding: 3px;
}
.ui-datepicker-calendar .ui-datepicker-current-day:hover,
.ui-datepicker-calendar .ui-datepicker-today:hover {
  background: #efefef;
}
.ui-datepicker-calendar .ui-datepicker-today {
  border-color: #fff;
}
button.ui-state-default {
  border: none;
  padding: 3px 7px;
  font: 12px/18px Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 15px;
  border: 1px #ccc solid;
  background: #f5f5f5;
  color: #000;
  font-weight: normal;
}
button.ui-state-default:hover {
  background: #efefef;
}
.ui-datepicker-close {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}