<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Used cars</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/css.css?family=Lato:400,700,900&amp;display=swap">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="147px" data-xl-stick-up-offset="147px" data-xxl-stick-up-offset="147px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer rd-navbar-collapse">
              <div class="rd-navbar-aside">
                <div class="rd-navbar-aside-element rd-navbar-aside-element-1">
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-744x122.png" alt="" width="372" height="61"/><img class="brand-logo-light" src="images/logo-inverse-744x122.png" alt="" width="372" height="61"/></a>
                  </div>
                </div>
                <div class="rd-navbar-aside-element rd-navbar-aside-element-2">
                  <ul class="list-inline">
                    <li><a class="link-default" href="#">Login</a></li>
                    <li><a class="link-default" href="#">Register Now</a></li>
                  </ul><a class="button button-default button-ujarak button-icon button-icon-left" href="used-cars.html"><span class="icon fa-plus-circle"></span>Sell your used car</a>
                </div>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-744x122.png" alt="" width="372" height="61"/><img class="brand-logo-light" src="images/logo-inverse-744x122.png" alt="" width="372" height="61"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Find a car</a>
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="used-cars.html">Used cars</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="new-cars.html">New cars</a>
                        <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Sedans</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Hatchbacks</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">MPVs</a>
                            <ul class="rd-menu rd-navbar-dropdown">
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Citroën C4 Picasso</a>
                              </li>
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Chevrolet Orlando</a>
                              </li>
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Opel Zafira Tourer</a>
                              </li>
                              <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Peugeot 5008</a>
                              </li>
                            </ul>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">SUVs</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Crossovers</a>
                          </li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Convertibles</a>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link">Pages</a>
                        <ul class="rd-menu rd-navbar-megamenu">
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="typography.html">Typography</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="buttons.html">Buttons</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="forms.html">Forms</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tabs-and-accordions.html">Tabs and accordions</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="progress-bars.html">Progress bars</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="tables.html">Tables</a></li>
                            </ul>
                          </li>
                          <li class="rd-megamenu-item">
                            <ul class="rd-megamenu-list">
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="grid-system.html">Grid system</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="under-construction.html">Under Construction</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="404.html">404</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="503.html">503</a></li>
                              <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="parts.html">Parts</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section section-xs bg-default">
        <div class="container">
          <div class="row row-30 flex-xl-row-reverse justify-content-lg-center">
            <div class="col-xl-4">
              <div class="row row-30 justify-content-lg-center">
                <div class="col-md-6 col-lg-5 col-xl-12">
                  <div class="box-select-1">
                    <h4>Search For Auto Parts By Year, Make & Model</h4>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <form class="rd-mailform" data-form-output="form-output-global" data-form-type="forms" method="post" action="bat/rd-mailform.php">
                      <div class="row row-25">
                        <div class="col-lg-12">
                          <div class="form-wrap">
                            <select class="form-input" id="car-min-year" name="gender" data-constraints="@Required" data-placeholder="Year:">
                              <option label="placeholder"></option>
                              <option>2018</option>
                              <option>2016</option>
                              <option>2014</option>
                              <option>2012</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-wrap">
                            <select class="form-input" id="car-make" name="gender" data-constraints="@Required" data-placeholder="Make:">
                              <option label="placeholder"></option>
                              <option>Audi</option>
                              <option>Chevrolet</option>
                              <option>Ford</option>
                              <option>Toyota</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-wrap">
                            <select class="form-input" id="car-model" name="gender" data-constraints="@Required" data-placeholder="Model:">
                              <option label="placeholder"></option>
                              <option>Audi Q5</option>
                              <option>Chevrolet Camaro</option>
                              <option>Ford Focus</option>
                              <option>Toyota Corolla</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <button class="button button-xl button-default button-ujarak" type="submit">Submit</button>
                    </form>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-12">
                  <div class="box-gs">
                    <h4>guide to sell your car fast</h4><img src="images/gs-your-car-01-310x159.jpg" alt="" width="310" height="159"/>
                    <h6><a href="#">Lorem ipsum dolor sit amet conse ctetur adipisicing elit</a></h6>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud modo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p><a class="button button-lg button-primary button-ujarak" href="#">read more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="row row-30 justify-content-lg-center">
                <div class="col-lg-10 col-xl-12">
                  <div class="box-uc">
                    <h4>Find used car you need</h4>
                    <div class="row row-30">
                      <div class="col-sm-6 col-md-4">
                        <article class="car-used">
                          <div class="car-used-image"><a href="#"><img src="images/used-car-01-217x166.jpg" alt="" width="217" height="166"/></a></div>
                          <h6 class="car-used-title"><a href="#">dolor sit amet conse</a></h6>
                          <p class="car-used-text">Lorem ipsum dolor sit amet tetur adipisicing elit, sed do eiusmod em por incididunt ut labore et.</p>
                          <ul class="car-used-rating">
                            <li><span class="icon fa-star text-primary"></span></li>
                            <li><span class="icon fa-star text-primary"></span></li>
                            <li><span class="icon fa-star text-primary"></span></li>
                            <li><span class="icon fa-star"></span></li>
                            <li><span class="icon fa-star"></span></li>
                          </ul>
                          <ul class="car-used-meta">
                            <li>
                              <div class="link-with-icon"><span class="icon fa-comment"></span><a href="#">45</a></div>
                            </li>
                            <li>
                              <div class="link-with-icon"><span class="icon fa-thumbs-o-up"></span><a href="#">15</a></div>
                            </li>
                          </ul>
                          <hr class="car-used-divider"><a class="car-used-link" href="#">Read more</a>
                        </article>
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <article class="car-used">
                          <div class="car-used-image"><a href="#"><img src="images/used-car-02-217x166.jpg" alt="" width="217" height="166"/></a></div>
                          <h6 class="car-used-title"><a href="#">Maecenas venenatis</a></h6>
                          <p class="car-used-text">Lorem ipsum dolor sit amet tetur adipisicing elit, sed do eiusmod em por incididunt ut labore et.</p>
                          <ul class="car-used-rating">
                            <li><span class="icon fa-star text-primary"></span></li>
                            <li><span class="icon fa-star text-primary"></span></li>
                            <li><span class="icon fa-star text-primary"></span></li>
                            <li><span class="icon fa-star text-primary"></span></li>
                            <li><span class="icon fa-star"></span></li>
                          </ul>
                          <ul class="car-used-meta">
                            <li>
                              <div class="link-with-icon"><span class="icon fa-comment"></span><a href="#">23</a></div>
                            </li>
                            <li>
                              <div class="link-with-icon"><span class="icon fa-thumbs-o-up"></span><a href="#">12</a></div>
                            </li>
                          </ul>
                          <hr class="car-used-divider"><a class="car-used-link" href="#">Read more</a>
                        </article>
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <article class="car-used">
                          <div class="car-used-image"><a href="#"><img src="images/used-car-03-217x166.jpg" alt="" width="217" height="166"/></a></div>
                          <h6 class="car-used-title"><a href="#">venenatis commodo</a></h6>
                          <p class="car-used-text">Lorem ipsum dolor sit amet tetur adipisicing elit, sed do eiusmod em por incididunt ut labore et.</p>
                          <ul class="car-used-rating">
                            <li><span class="icon fa-star text-primary"></span></li>
                            <li><span class="icon fa-star text-primary"></span></li>
                            <li><span class="icon fa-star"></span></li>
                            <li><span class="icon fa-star"></span></li>
                            <li><span class="icon fa-star"></span></li>
                          </ul>
                          <ul class="car-used-meta">
                            <li>
                              <div class="link-with-icon"><span class="icon fa-comment"></span><a href="#">20</a></div>
                            </li>
                            <li>
                              <div class="link-with-icon"><span class="icon fa-thumbs-o-up"></span><a href="#">50</a></div>
                            </li>
                          </ul>
                          <hr class="car-used-divider"><a class="car-used-link" href="#">Read more</a>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-10 col-xl-12">
                  <div class="bsu-cars">
                    <h4>Best-selling used cars</h4>
                    <div class="bsu-cars-item">
                      <div class="unit flex-column flex-md-row">
                        <div class="unit-left"><a class="bsu-cars-item-image" href="#"><img src="images/bsu-cars-01-240x171.jpg" alt="" width="240" height="171"/></a></div>
                        <div class="unit-body">
                          <h6 class="bsu-cars-item-title"><a href="#">Donec bibendum mi quis arcu porttitor porttitor. Pellentesque et auctor tellus, in eismod leo</a></h6>
                          <p>Quisque eu felis placerat, elementum orci a, volutpat nisl. Sed magna justo, convallis nec tincidunt at, sagittis sed libero. Duis iaculis convallis tortor id Etiam volutpat lorem sit amet orci eleifend luctus. Donec gravida, elit biben adipiscing eleifend, orci.</p>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="bsu-cars-item">
                      <div class="unit flex-column flex-md-row">
                        <div class="unit-left"><a class="bsu-cars-item-image" href="#"><img src="images/bsu-cars-02-240x171.jpg" alt="" width="240" height="171"/></a></div>
                        <div class="unit-body">
                          <h6 class="bsu-cars-item-title"><a href="#">quis arcu porttitor porttitor Pellentes e et auctor tellu</a></h6>
                          <p>Vivamus elementum, ipsum at dapibus vehicula, purus lacus porttitor nibh, vel vestibulum tortor massa eu erat. Donec eros tellus, bibendum non pulvinar eget, iaculis ut risus. Nulla porttitor massa tortor, non eleifend purus laoreet at. Nunc iaculis eros a facilisis pellentesque. Nam ac blandit ipsum. Integer cursus elementum purus, vel.</p>
                        </div>
                      </div>
                    </div><a class="button button-lg button-primary button-ujarak" href="#">read more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-10 col-xl-12">
              <div class="box-tips">
                <h4>Used car selling tips:</h4>
                <div class="row row-25 justify-content-lg-center">
                  <div class="col-sm-6 col-md-4">
                    <ul class="box-tips-list">
                      <li><a href="#">Quis, adipiscing leo</a></li>
                      <li><a href="#">Pellentesque lacus arcu</a></li>
                      <li><a href="#">Egestas vel mattis</a></li>
                      <li><a href="#">Eget tincidunt at velit</a></li>
                      <li><a href="#">Etiam adipiscing</a></li>
                      <li><a href="#">Urpis ut augue laoreet</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <ul class="box-tips-list">
                      <li><a href="#">Eget tincidunt at velit</a></li>
                      <li><a href="#">Etiam adipiscing</a></li>
                      <li><a href="#">Urpis ut augue laoreet</a></li>
                      <li><a href="#">Consequat est sapien</a></li>
                      <li><a href="#">Vitae dictum urna rutrum</a></li>
                      <li><a href="#">Urpis ut augue laoreet</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <ul class="box-tips-list">
                      <li><a href="#">Quisque interdum porttitor</a></li>
                      <li><a href="#">Elit pharetra consect</a></li>
                      <li><a href="#">Aliquam laoreet tempor cursus</a></li>
                      <li><a href="#">Proin consectetur massa</a></li>
                      <li><a href="#">Mollis, dolor risus cursus</a></li>
                      <li><a href="#">Ac blandit massa neq non</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="section footer-classic context-dark">
        <div class="container text-center">
          <div class="row row-12 align-items-center">
            <div class="col-lg-6 text-lg-left"><a href="index.html"><img src="images/logo-default-744x122.png" alt="" width="372" height="61"/></a></div>
            <div class="col-lg-6 text-lg-right">
              <ul class="footer-list-inline">
                <li><a href="index.html">Find a car</a></li>
                <li><a class="active" href="used-cars.html">Used cars</a></li>
                <li><a href="new-cars.html">New cars</a></li>
                <li><a href="parts.html">Parts</a></li>
                <li><a href="contacts.html">Contacts</a></li>
              </ul>
            </div>
          </div>
          <div class="row row-12 align-items-center flex-lg-row-reverse">
            <div class="col-lg-6 text-lg-right">
              <ul class="list-inline list-inline-sm">
                <li><a class="icon icon-circle fa-facebook-f" href="#"></a></li>
                <li><a class="icon icon-circle fa-twitter" href="#"></a></li>
              </ul>
            </div>
            <div class="col-lg-6 text-lg-left">
              <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span>All Rights Reserved. <a href="privacy-policy.html">Privacy Policy</a>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</html>